**/*.out
**/a.out
**/*.swp
**/*.swo

**/.obj/
**/.dist
**/*.a
**/*.o
**/*.d
**/*.s
**/*.gch
**/*.gdb_history
**/cub3d
**/cub3d_tests
**/compile_commands.json 

**/*.clang
**/*.code
**/*.vscode
**/*.cache

**/input
**/output

**/res
**/resultat
**/log

**/cub3d
doxy-log-err.txt
doxy-log.txt

####
# Raoul1808 gitignore
*.o
*.a
dep/
obj/
cubtest

# Clangd files
compile_flags.txt
compile_commands.json
.clangd
img-dev/
